<% layout('../Layouts/mainlayout.ejs') -%>
<div>
  <h1>Hi</h1>
  <h2>WaNt To TaLk LiKe ThIs?</h2>
  <form action="/MakeText" method="POST">
    <input type="text" name="userinput" id="userinput" />
    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
  </form>
  <%= hi ? hi : '' %>
</div>
